# 测试

用来测试的一些代码。

In [6]:
import pandas as pd
from matplotlib import pyplot as plt
import pymysql

con = pymysql.connect(host='192.168.31.69',
                      user='root',
                      password='iea20',
                      db='iea20_test',
                      charset='utf8mb4',
                      cursorclass=pymysql.cursors.DictCursor)
df = pd.read_sql('select OCREndTime as datetime from log_task where planid=77',
                 con=con)
con.close()

In [8]:
#df.groupby(df.datetime.dt.date).count().plot(kind='bar')
df.set_index('datetime', drop=False, inplace=True)
df.head()

                               datetime
datetime
2016-07-25 22:58:53 2016-07-25 22:58:53
2016-07-25 22:47:38 2016-07-25 22:47:38
2016-07-26 02:39:50 2016-07-26 02:39:50
2016-07-26 02:55:26 2016-07-26 02:55:26
2016-07-26 05:57:14 2016-07-26 05:57:14